.weather-widget {
  height: auto;
  width: 100%;
  text-align: center;
}

.widget-row {
  margin-top: 10px;
  font-size: 20px;
}

.temprature {
  font-size: 30px;
}

.todays-weather {
  padding: 10px;
}
